<%= render :partial => "/admin/tip/partials/side_panel" %>

<div id="main-panel">
  <h1>【Tip分类】： <%= @tip_category.name %></h1>

  <div class="main-options">
    <%= link_to "返回分类列表", admin_route(admin_tip_categories_path) %>
    <%= link_to "编辑分类", admin_route(edit_admin_tip_category_path(@tip_category)) %>
    <%= link_to "新建Tip分类", admin_route(new_admin_tip_category_path) %>
  </div>

  <div class="main-content">
    <p>
      <b>名称</b><br/>
      <%= @tip_category.name %>
    </p>
    <p>
      <b>标题</b><br/>
      <%= @tip_category.title %>
    </p>
    <p>
      <b>URL-NAME</b><br/>
      <%= @tip_category.url_name %>
    </p>
    <p>
      <b>Flag Name</b><br/>
      <%= @tip_category.flag_name %>
    </p>
    <p>
      <b>position</b><br/>
      <%= @tip_category.position %>
    </p>
    <p>
      <b>lang</b><br/>
      <%= @tip_category.lang %>
    </p>
    <p>
      <b>introduction</b><br/>
      <%= @tip_category.introduction %>
    </p>
    <p>
      <b>description</b><br/>
      <%= @tip_category.description %>
    </p>
  </div>
</div>