<% if @book_item.errors.any? %>
  <div id="error_explanation">
    <h2 id="errorExplanationHeader"><%= t('activerecord.errors.template.header', :count => @book_item.errors.count) %></h2>	
    <ul>
      <% @book_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :isbn %><br />
  <%= f.text_field :isbn %>
</div>

<div class="field">
  <%= f.label :isbn_other %><br />
  <%= f.text_field :isbn_other %>
</div>

<div class="actions">
  <%= f.submit %>
</div>