<%= render :partial => "/admin/book/partials/side_panel" %>

<div id="main-panel">
  <h1>编辑图书分类</h1>

  <div class="main-options">
    <%= link_to "返回列表", admin_route(admin_book_items_path) %>
    <%= link_to "返回", admin_route(admin_book_item_path(@book_item)) %>
    <%= link_to "新建图书", admin_route(new_admin_book_item_path) %>
  </div>

  <div class="main-content">
    <%= form_for([:admin, @book_item], :html => { :multipart => true }) do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
  </div>
</div>