<h2><%= t("sign-in") %></h2>

<%= form_for(@user_session, :as => :user_session, :url => sessions_path, :method => :post) do |f| %>
  <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

  <div><%= f.check_box :remember_me %> Remember Me!</div>

  <div><%= f.submit "Login", :name => nil %></div>
<% end %>