<% if @archives_item.errors.any? %>
  <div id="error_explanation">
    <h2 id="errorExplanationHeader"><%= t('activerecord.errors.template.header', :count => @archives_item.errors.count) %></h2>	
    <ul>
      <% @archives_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :Title %>*<br />
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :Url_name %>*<br />
  <%= f.text_field :url_name %>
</div>

<div class="field">
  <%= f.label :refer_unique %>*<br />
  <%= f.text_field :refer_unique %>
</div>

<div class="field">
  <%= f.label :content %><br />
  <%= f.text_area :content %>
</div>

<div class="actions">
  <%= f.submit %>
</div>