<%= render :partial => "/admin/archives/partials/side_panel" %>

<div id="main-panel">
  <h1>文档列表</h1>

  <div class="main-options">
    <%= link_to "新建文档", admin_route(new_admin_archives_item_path) %>
  </div>

  <div class="main-content">
    <%= will_paginate @archives_items %>
    
    <div class="list">
      <% if @archives_items.any? %>
        <% @archives_items.each do |item| %>
      <div class="item">
        <div class="operate">
          <%= link_to "编辑", admin_route(edit_admin_archives_item_path(item)) %>
        </div>        
        <%= link_to "#{item.title}", admin_route(admin_archives_item_path(item)) %>
      </div>
        <% end %>
      <% else %>
        暂无文档
      <% end %>
    </div>  
    
    <%= will_paginate @archives_items %>  
  </div>

  <div class="main-options">
    <%= link_to "新建文档", admin_route(new_admin_archives_item_path) %>
  </div>
</div>