<%= render :partial => "/admin/archives/partials/side_panel" %>

<div id="main-panel">
  <h1>【文档】： <%= @archives_item.title %></h1>

  <div class="main-options">
    <%= link_to "返回文档列表", admin_route(admin_archives_items_path) %>
    <%= link_to "编辑文档", admin_route(edit_admin_archives_item_path(@archives_item)) %>
    <%= link_to "新建文档", admin_route(new_admin_archives_item_path) %>
  </div>

  <div class="main-content">
    <p>
      <b>标题</b><br/>
      <%= @archives_item.title %>
    </p>
    
    <p>
      <b>Unique Flag</b><br/>
      <%= @archives_item.unique_flag %>
    </p>    
    
    <p>
      <b>Unique Refer</b><br/>
      <%= @archives_item.unique_refer %>
    </p>
    
    <p>
      <b>content</b><br/>
      <%= @archives_item.content %>
    </p>
  </div>
</div>