<%= render :partial => "/admin/archives/partials/side_panel" %>

<div id="main-panel">
  <h1>【文档分类】： <%= @archives_category.name %></h1>

  <div class="main-options">
    <%= link_to "返回分类列表", admin_route(admin_archives_categories_path) %>
    <%= link_to "编辑分类", admin_route(edit_admin_archives_category_path(@archives_category)) %>
    <%= link_to "新建文档分类", admin_route(new_admin_archives_category_path) %>
  </div>

  <div class="main-content">
    <p>
      <b>名称</b><br/>
      <%= @archives_category.name %>
    </p>
    <p>
      <b>标题</b><br/>
      <%= @archives_category.title %>
    </p>
    <p>
      <b>URL-NAME</b><br/>
      <%= @archives_category.url_name %>
    </p>
    <p>
      <b>Flag Name</b><br/>
      <%= @archives_category.flag_name %>
    </p>
    <p>
      <b>position</b><br/>
      <%= @archives_category.position %>
    </p>
    <p>
      <b>lang</b><br/>
      <%= @archives_category.lang %>
    </p>
    <p>
      <b>introduction</b><br/>
      <%= @archives_category.introduction %>
    </p>
    <p>
      <b>description</b><br/>
      <%= @archives_category.description %>
    </p>
  </div>
</div>