<%= render :partial => "/admin/archives/partials/side_panel" %>

<div id="main-panel">
  <h1>新建抓取文档</h1>

  <div class="main-options">
    <%= link_to "返回文档列表", admin_route(admin_archives_item_fetches_path) %>
    <%= link_to "新建文档", admin_route(new_admin_archives_item_fetch_path) %>
  </div>

  <div class="main-content">
    <%= form_for([:admin, @archives_item_fetch], :html => { :multipart => true }) do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
  </div>
</div>