<% if @tip_post.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @tip_post.errors.messages.values.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :tip_category_id %><br />	
  <%= f.select :tip_category_id, 
    nested_set_options(TipCategory, @tip_category) {|i| "#{'-' * i.level} #{i.name}" }, 
    {:include_blank => I18n.t('please_select_for_tag')} %>
</div>

<div class="field">
  <%= f.label :title %>*<br />
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :content %>*<br />
  <%= f.text_area :content %>
</div>

<div class="actions">
  <%= f.submit %>
</div>