<h2>编辑用户</h2>

<%= link_to "取消编辑", admin_user_path(@user) %>
<%= link_to "返回用户列表", admin_users_path %>


<%= form_for(@user, :as => :user, :html => { :multipart => true }, 
  :url => admin_route(admin_user_path(@user))) do |f| %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2 id="errorExplanationHeader"><%= t('activerecord.errors.template.header', :count => @user.errors.count) %></h2>	
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


  <div><%= f.label :email %><br />
  <%= @user.email %></div>

  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>


<%= link_to "取消编辑", admin_user_path(@user) %>
<%= link_to "返回用户列表", admin_users_path %>
