<p>
  <%= link_to "编辑", edit_admin_user_path(@user) %>	
  <%= link_to "返回列表", admin_users_path %>	
</p>
<table>
  <tr>
    <td>身份</td>
    <td>
      <%= @user.roles_to_s %>
    </td>
  </tr>
  <tr>
    <td>昵称</td>
    <td><%= @user.nick_name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>状态</td>
    <td><%= @user.status %></td>
  </tr>
  <tr>
    <td>性别</td>
    <td><%= @user.sex %></td>
  </tr>
  <tr>
    <td>注册IP</td>
    <td><%= @user.created_ip %></td>
  </tr>	
</table>

<p>
  <%= link_to "编辑", edit_admin_user_path(@user) %>	
  <%= link_to "返回列表", admin_users_path %>	
</p>
