<div id="side-panel">
  <h2>
    <%= link_to "图书管理", admin_route(admin_book_root_path) %>
  </h2>
  
  <h4>分类管理</h4>
  <ul>
    <li>
      <%= link_to "分类列表", admin_route(admin_book_categories_path) %>
    </li>
    <li>
      <%= link_to "新建分类", admin_route(new_admin_book_category_path) %>
    </li>
    <li>
      <%= link_to "抓取分类", admin_route(admin_book_category_fetches_path) %>
    </li>
  </ul>
  
  <h4>书目管理</h4>
  <ul>
    <li>
      <%= link_to "书目列表", admin_route(admin_book_items_path) %>
    </li>
    <li>
      <%= link_to "新建书目", admin_route(new_admin_book_item_path) %>
    </li>
    <li>
      <%= link_to "图书详情列表", admin_route(admin_book_details_path) %>
    </li>
    <li>
      <%= link_to "图书抓取列表", admin_route(admin_book_detail_fetches_path) %>
    </li>
  </ul>
</div>