<!DOCTYPE html>
<html>
  <head>
    <title>Loyal</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= link_to "test", "http://www.baidu.com", :onclick => "return openAppWindow(this, {});", :target => "_blank" %>
    
    <div>
      <% if logged_in? %>
        <%= current_user.email %>
      <% else %>
        <%= link_to "Login", sign_in_url %>
      <% end %>
    </div>
    
    <div id="page-messages-contain">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    </div>
    <%= yield %>

  </body>
</html>
