<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
    <title><%= @seo_title %></title>
    <%= stylesheet_link_tag    "temporary" %>
    <%= javascript_include_tag "temporary" %>
    <%= csrf_meta_tags %>
    <%= yield :header %>
    <link rel="shortcut icon" href="<%= image_tag("/favicon.ico") %>" type="image/x-icon" />
    <link rel="Bookmark" href="<%= image_tag("/favicon.ico") %>" type="image/x-icon" />
  </head>
  <body>
    <%#= link_to "test", "http://www.baidu.com", :onclick => "return openAppWindow(this, {});", :target => "_blank" %>
    
    <%= yield %>    
  </body>
</html>
