<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
    <title><%= @seo_title %></title>
    <%= stylesheet_link_tag    "yuedu123" %>
    <%= javascript_include_tag "yuedu123" %>
    <%= csrf_meta_tags %>
    <%= yield :header %>
  </head>
  <body>    
    <div id="container">  
      <div id="header">
        <div class="logo">
          
        </div>
        <div class="linkers">
          <%= link_to "首页", archives_route(root_path) %>
          <%= link_to "文章分类", archives_route(yuedu123_archives_categories_path) %>
          <%= link_to "文章列表", archives_route(yuedu123_archives_fetches_path) %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
