<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
    <title><%= @seo_title %></title>
    <%= stylesheet_link_tag    "yuedu123" %>
    <%= javascript_include_tag "yuedu123" %>
    <%= csrf_meta_tags %>
    <%= yield :header %>
  </head>
  <body>    
    
    <%= yield %>

  </body>
</html>
